/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
div, article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	backgroud-color: white;
	color: #4d4d4d;
	font-size: 14px;
	font-weight: 400;
	text-justify: inter-word;
	margin-top: -5px;
	-webkit-font-smoothing: antialiased;
}
a {
	color: #54AFFF;
	text-decoration: none;
	border-bottom: 1px solid rgba(61, 153, 135, 0.15);
	-webkit-transition-property: all; 
	-moz-transition-property: all; 
	-o-transition-property: all; 
	transition-property: all; 
	-webkit-transition-duration: 0.125s; 
	-moz-transition-duration: 0.125s; 
	-o-transition-duration: 0.125s; 
	transition-duration: 0.125s;
}
a:visited {
	color: #54AFFF;
}
a:focus {
	color: #3498DB;
}
a:hover, a:active {
	color: #2980B9;
	border-bottom: 1px solid rgba(61, 153, 135, 0);
}
/*.about {
	max-width: 700px;
	margin-left: 150px;
	margin-top: 115px;
}*/
figure {
	position: absolute;
	top: 0;
	right: 0;
}
img {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: rgba(255, 255, 255, 0.6);
	height: 100%;
	line-height: 20px;
	position: relative;
	width: 100%;
	background-image: url('https://download.unsplash.com/17/unsplash_5269924c8ce7c_1.JPG');
	background-position: center center;
	background-repeat: no-repeat;
}
@media (min-width: 1000px) {
	div {
		margin-right: 30%;
	};
}
@media (max-width: 1000px) {
	div {
		position: absolute;
		top: 30%;
		width: 100%;
	};
}
@media (max-width: 1000px) {
	div p {
		margin: 0 auto 32px auto;
		max-width: 500px;
		padding-left: 24px;
		padding-right: 24px;
		line-height: 24px;
		font-size: 17px;
	};
}
@media (min-width: 1000px) {
	div p {
		margin: 0 auto 32px auto;
		max-width: 500px;
		padding-left: 64px;
		padding-right: 64px;
		line-height: 32px;
		font-size: 17px;
	};
}
@media (max-width: 1000px) {
    div p:first-of-type {
        font-size: 24px;
        line-height: 32px;
        margin-top: 32px;
        margin-bottom: 32px;
    };
}
@media (min-width: 1000px) {
    div p:first-of-type {
        font-size: 32px;
        line-height: 48px;
        margin-top: 96px;
        margin-bottom: 48px;
    };
}
@media (min-width: 1000px) {
	figure {
		height: 100%;
		width: 30%;
		max-width: 600px;
	};
}
@media (max-width: 1000px) {
	figure {
		height: 30%;
		max-height: 600px;
		width: 100%;
	};
}
@media (min-width: 1000px) {
	img {
	    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 0 0 0 inset;
	    -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 0 0 0 inset;
	    box-shadow: rgba(0, 0, 0, 0.2) 1px 0 0 0 inset;
	};
}
@media (max-width: 1000px) {
	img {
	    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0 inset;
	    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0 inset;
	    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0 inset;
	};
}
