---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="container">
    <div class="project-list">
      {% for project in site.data.projects %}
        <div class="project">
          <img class="thumbnail" src="{{ project.image }}"/>
          <div class="project-info">
            <a class="name" href="{{ project.link }}">{{ project.name }}</a>
            <p class="description">{{ project.description }}</p>
            <a class="link" href="{{ project.link }}">Learn more</a>
          </div>
        </div>
       {% endfor %}
     </div>
  </div>

  <!-- <div class="related">
    <h2>Related</h2>
    {% for post in site.related_posts limit:3 %}
      <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}
       &nbsp; <span class="post-meta">{{ post.date | date: "%B %d, %Y" }}</span></a>
    {% endfor %}
  </div> -->

</div>
